.link {
  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: color 0.15s;
  white-space: nowrap;
}
.link:hover {
  color: var(--accent);
}
.icon {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
