.link {
  color: currentColor;
  -webkit-text-fill-color: currentColor;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: color 0.15s;
  white-space: nowrap;
}
/* .link:hover {
  opacity: 0.6;
} */
.icon {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.15em;
  vertical-align: -0.1em;
}
